
header{ 
  margin: 0 auto; 
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 100%;
  background-color: aliceblue;
  padding-bottom: 10px;
}
header .wrap{
  align-items: baseline;
}
header .wrap a{
  color: black;
  line-height: normal;
}
header h1{ 
  margin-top: 21px; 
  margin-bottom: 15px; 
  font-size: 20px; 
  font-weight: bold; 
  display: inline-block;
} 
header h1 a{
  
}
header h1 a::before{
 content: ""; 
 width: 103px;
 height: 23px;
 display: inline-block;
 background-image: url(../img/samsung.png);
 background-size: contain;
 background-repeat: no-repeat;
 vertical-align: -11px;
 margin-right: 15px;
}
header ul{
  display: flex;
  gap: 30px;
  justify-content: left;
} 
li{
}
header div{ /* header안의 모든 div를 의미 : 하위선택자 */
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  position: relative;
}
header div form{
  position: absolute;
  right: -50px;
  top: 30px;
  /*! padding: 5px 15px; */
}

a.cart{
  background-image: url(../img/cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 20px;
  height: 20px;
  display: block;
}
a.user{
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  width: 20px;
  height: 20px;
  display: block;
}
header button.search{
  background-color: transparent;
  border: none;
  background-image: url(../img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 20px;
  height: 20px;
  vertical-align: 4px;
}
/*         타이틀영역              */
div#title{
  background-color: #EDF1F4;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/title.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
div#title::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  left: 0;
  top: 0;
}
div#title div.wrap{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
div#title div.wrap ul.hash{
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  color: white;
}
div#title div.wrap h2{
  margin-bottom: 40px;
  font-size: 62px;
  color: seashell;
  font-weight: bold;
}
div#title div.wrap p{
  line-height: 1.4;
  margin-bottom: 20px;
}
div#title div.wrap>a{
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
div#title div.wrap > a:hover{
  
}
div#title div.wrap ul.list{
  display: flex;
  gap: 10px;
  background-color: blue;
  color: white;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 25px;
  left: calc(50% - 615px);
  width: 1230px;
}
div#title div.wrap ul.list a{
  color: white;
  line-height: 3;
  display: block;
}

/* 메인 */
main {
  
}
main #product {
  
}
main #product .wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: center;
  column-gap: 40px;
}
main #product .wrap ul.list {
  display: flex;
  justify-content: center;
  width: 100%;
}
main #product .wrap ul.list li {
  
}
main #product .wrap ul.list li a {
  line-height: 3;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
main #product .wrap ul.list li a:hover{
  background-color: #eee;
}
/* 제품안내 */
main #product .wrap div.jemok {
  background-image: url(../img/je1.png);
  background-size: cover;
  background-position: center;
}
main #product .wrap div.jemok a{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
main #product .wrap div.jemok h3 {
  
}
main #product .wrap div.jemok p {
  
  margin-bottom: 30px;
}
main #product .wrap ul.contents {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  width: 980px;
  column-gap: 40px;
}
main #product .wrap ul.contents li { 

}

main #product .wrap ul.contents li:nth-child(1){
  background-image: url(../img/je2.png);
}
main #product .wrap ul.contents li:nth-child(2){
  background-image: url(../img/je3.png);
}
main #product .wrap ul.contents li:nth-child(3){
  background-image: url(../img/je4.png);
}
main #product .wrap ul.contents li:nth-child(4){
  background-image: url(../img/je5.png);
}
main #product .wrap ul.contents li:nth-child(5){
  background-image: url(../img/je6.png);
  background-size: cover;
  background-position: center;
}
main #product .wrap ul.contents li:nth-child(6){
  background-image: url(../img/je7.png);
}
main #product .wrap ul.contents li:nth-child(4){
  margin-left: -339px;
}
main #product .wrap ul.contents li a{
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: 100%;
}
main #product .wrap ul.contents li h4 {
  
}
main #product .wrap ul.contents li h4 span {
  
}
main #product .wrap ul.contents li p {
  
}
main #product .wrap ul.contents::after{
  content: "";
  width: 300px;
  height: 300px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
  margin-left: -1px;
  background-image: url(../img/je8.png);
  background-size: cover;
  background-position: center;
}

/* 모바일 피시,tv오디오 */

#mobile,#tv{
  line-height: 1.6;
}
#mobile .wrap,#tv .wrap{
  overflow: hidden;
  background-color: #F9F9F9;
  padding-top: 60px;
  padding-bottom: 60px;
}
#mobile h2{
  
}
#mobile ul.list,#tv ul.list{
  margin-top: 20px;
  margin-bottom: 30px;
}
#mobile div.contents{
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 400%;
}
#tv div.contents{
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 500%;
  height: 800px;
}
#mobile div.contents article,#tv div.contents article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mobile div.contents article figure{
  width: 680px;
  margin: 30px 0;
}
#mobile div.contents img{
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 30px;
}
#mobile div.contents article h3{
  order: 2;
}
#mobile div.contents article p{
  order: 1;
}
#mobile div.contents article a{
  order: 3;
}

/* tv오디오 */
#tv .wrap{
  position: relative;
  color: #fff;
  padding: 0;
  background-color: transparent;
}
#tv .wrap h2{
  position: absolute;
  width: 100%;
  top: 30px;
}
#tv ul.list{
  position: absolute;
  width: 100%;
  top: 73px;
}
#tv ul.list a{
  
  color: #fff;
}
#tv div.contents article{
  background-size: cover;
  background-position: center;
  justify-content: end;
  padding-bottom: 50px;
}
#tv div.contents article:nth-child(1){
  background-image: url(../img/tv1.jpg);
}
#tv div.contents article:nth-child(2){
  background-image: url(../img/tv2.jpg);
}
#tv div.contents article:nth-child(3){
  background-image: url(../img/tv3.jpg);
}
#tv div.contents article:nth-child(4){
  background-image: url(../img/tv4.jpg);
}
#tv div.contents article:nth-child(5){
  background-image: url(../img/tv5.jpg);
}

/* 어사이드 */
aside {
  position: fixed;
  right: 20px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

aside a{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 0;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

aside .more{
  background-color: skyblue;
  background-image: url(../img/plus.svg);
}

aside .top{
  
  background-color: darkgrey;
  background-image: url(../img/top.svg);
  background-size: 100%;
}
/* 하단영역 */

footer {
  
}
footer div.wrap {
  width: auto;
}
footer div.wrap .full{
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 230px;
}
footer div.wrap ul.fnb {
  /*! flex-wrap: wrap; */
  margin-bottom: 48px;
  width: 1440px;
  margin: 0 auto;
  height: 200px;
  position: relative;
}
footer div.wrap ul.fnb>li {
  border-left: 1px solid #666;
  width: calc(100% / 6);
  box-sizing: border-box;
}
footer div.wrap ul.fnb>li:first-child{
   width: calc(100% / 6 *2);
}
footer div.wrap ul.fnb > li:nth-child(6){
  /*! border-right: 1px solid #666; */
  position: absolute;
  left: calc(100% / 6 *4);
  top: 95px;
}
footer div.wrap ul.fnb>li:last-child{
  /*! border-right: 1px solid #666; */
  position: absolute;
  left: calc(100% / 6 *5);
  top: 95px;
}
footer div.wrap ul.fnb li h2 {
  
}
footer div.wrap ul.fnb li ul.sub {
  
}
footer div.wrap ul.fnb li ul.sub li {
  
}
footer div.wrap ul.fnb li ul.sub li a {
  
}
footer div.wrap address {
  
}
footer div.wrap address a {
  
}
footer div.wrap p {
  
}

