*{ /* 전체선택자 모든태그 */
  margin: 0;
  padding:0;
  line-height:1; /* 줄간격,글높이 */
}
h1,h2,h3,h4,h5,h6{ /* 그룹선택자 */
  font-size: 100%; /* 16px */
  font-weight: normal; /* 폰트두께 */
}
ul{ /* html선택자*/
  list-style: none; /* 점표시 없앰 */
}
a{
  text-decoration: none; 
  color: black;
}